// global
body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

h3 {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
}

p {
    color: #a7aaad;
    font-size: 13px;  
    margin-top: 0;
    font-weight: 500; 
}

//// sing in

#root_container {
    text-align: center;
    width: 100%;  
    /* border: 1px solid red; */
}

#root_container .form_container {    
    width: 300px;
    margin-top: 140px;  
    display: inline-block;    
}

#root_container .form_container .logo {    
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
}

#root_container p.signin_descr {
    width: 220px;    
    display: inline-block;  
}

#root_container .form_input input {
    width: 280px;
    height: 26px;    
    padding: 10px;
    display: inline-block;  
    margin-top: 15px;
    outline: none;
    border: 1px solid #e0e1e5;
    border-radius: 10px;    
}

// #root_container .form_input input:focus:required:invalid  {
//     border: 1px solid red;
// }

#root_container .form_input input:focus {
    border: 2px solid #4ea4f6;
    border-radius: 10px;    
}

#root_container .form_container .keep_me_in {
    float: left;
    margin-top: 15px;    
}

#root_container .form_submit input{
    display: inline-block;  
    margin-top: 15px;
    width: 300px;    
    border: none;
    border-radius: 10px;    
    background-color: #5d98f2;
    color: white;
    padding: 12px;    
    font-size: 12px;
    cursor: pointer;
}

// checkbox
#root_container .keep_me_in input[type="checkbox"] {
    visibility: hidden;        
}

#root_container .keep_me_in label {
    cursor: pointer;
    color: black;      
}

#root_container .keep_me_in input[type="checkbox"] + label:before {
    border-radius: 3px;    
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background: #4ea4f6;
    color: white;
    margin-right: 20px;
}

#root_container .keep_me_in input[type="checkbox"]:checked + label:before {    
    content: "\2713";
    text-align: center;    
}

// combobox

.chbContainer {
    width: 280px;    
    font-family: Verdana, Tahoma, sans-serif;    
}

.chbContainer input {
    width: 100%;
    margin: 1rem 0;    
    font-size: 13px;
}

.chbContainer input:focus {
    outline:0;
}

.chbContainer .autocomplete__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 1px solid;
    border-radius: 9px;
    padding: .5rem 1rem;
    border: 1px solid #e0e1e5;
    height: 22px;    
    padding: 10px;    
}

.chbContainer .autocomplete__input:focus {
    border: 2px solid #4ea4f6;
    border-radius: 9px;
}

.chbContainer ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.chbContainer input:focus {
    border: 2px solid #4ea4f6;
    border-radius: 9px;    
}

.chbContainer .autocomplete__item {
    height: 30px;        
    color: grey;
    padding: 7px;
    cursor: pointer;            
}

.chbContainer .autocomplete__item:hover,
.chbContainer .autocomplete__item--is-selected {
    background-color: #f2f2f3;
}

.chbContainer .autocomplete__select {
    display: none;    
}

.chbContainer .autocomplete__results {        
    background: white;
    width: 300px;    
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow-y: auto; 
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    opacity: 0;
    border: 1px solid #e0e1e5;
    border-radius: 9px;    
}

.chbContainer .autocomplete__results--is-visible {
    max-height: 250px;
    opacity: 1
}

.chbContainer .autocomplete__notice {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}